/*header*/


/* Header */
#header-promo{
	width: 100%;
	display: flex;
	height: 32px;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	background-color: #EA3B15;

}

#header-promo h6{
	font-family: Ranade;
	font-style: normal;
	text-align: center;
}

header{
	width: 100vw;
	position: fixed;
	z-index: 10;
	top:0;
}

.main{
	margin-top:150px;
}


#nav{
	position: relative;
	display: flex;
	width: 100%;
	height: 96px;
	padding-top: 24px;
	padding-bottom: 24px;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 128px 0 128px;
	border-bottom: 1px solid #EA3B15;
	background: #231305;
}
#nav img{
	object-fit: contain;
	width: 128px;
	height: 100%;
}

#nav .left{
	display: flex;
	align-items: center;
	gap: 24px;
	font-family: Ranade;
	font-size: 16px;
	color: #FFF9E9;

}
#nav .right{
	display: flex;
	align-items: center;
	gap: 24px;
	font-family: Ranade;
	font-size: 16;
	color: #FFF9E9;

}


#nav .left div{
	display: flex;
	padding: 8px;
	align-items: center;
	gap: 10px;
	color: #FFF9E9;
}

#nav .right div{
	display: flex;
	padding: 8px;
	align-items: center;
	gap: 10px;
	color: #FFF9E9;
}			

#nav .right div:last-child{
	font-family: Ranade;
	font-size: 16;
	display: flex;
	padding: 8px;
	align-items: center;
	gap: 10px;
	color: #EA3B15;
	font-weight: bold;
	background-color: #FFF;
	max-height: 24px;
	transform: rotate(2.5deg);
}

#nav .right div:last-child p{
	transform: rotate(-2.5deg);
}



@charset "utf-8";
/* CSS Document */

/* Fonts */
@font-face{
	font-family: 'Ranade';
	src: url("fonts/Ranade-Regular.woff");
	font-weight: normal;
}
@font-face{
	font-family: 'Ranade';
	src: url("fonts/Ranade-Bold.woff");
	font-weight: bold;
}
@font-face{
	font-family: 'Gambarino';
	src: url("fonts/Gambarino-Regular.woff");
}
@font-face{
	font-family: 'Pencerio';
	src: url("fonts/Pencerio-Hairline.woff");
}




/* Styles */
h1{
	font-family: gamba;
	font-size: 96;
}
h2{
	font-family: Gambarino;
	font-size: 64;
}
h3{
	font-family: Gambarino;
	font-size: 48;
}
h4{
	font-family: Ranade;
	font-size: 48;
}
h5{
	font-family: Ranade;
	font-size: 24;
}
p{
	font-family: Ranade;
	font-size: 16;
}
h6{
	font-family: Ranade;
	font-size: 12;
}

body{
	margin:0 auto;
		background-color: #FFF9E9;
	justify-content: center;
	align-items: center;
	padding: 0;
	overflow-x: hidden;
	width: 100vw;
}

/*contenido*/


h2{
	font-family: Gambarino;
	text-align: center;
	font-size: 40px;
	margin-bottom: -35px;
	color: #77930C;
	margin-right: -100px
}

h3{
	font-family: Pencerio;
	text-align: center;
	margin-top: -10px;
	font-size: 100px;
	color: #231305;
}

.pizza{
	display: flex;
	justify-content: center;

}
.pizza img{
	width: 700px;
	height: 450px;
	margin-top: -180px;
}


.cafe{
	width: 1900px;
	height: 900px;
	background: #231305;
	display: flex;
	justify-content: center;

}


p{
	color: #FFF9E9;
	padding: 40px;
	font-family: Gambarino;
	font-size: 60px;
	margin-top: 150px;
	line-height: 1;
	margin-left: 50px;
}

p2{
	color: #FFF9E9;
	float: right;
	width: 90%;
	font-size: 15px;
	margin-top: -310px;
	max-width: 20%;
	padding-right: 650px;
	font-family: ranade;
}

h4{
	color: #EA3B15;
	font-size: 30px;
	position: absolute;
	margin-top: -280px;
	margin-left: 295px;
	font-family: Ranade;
	border: 10px solid #FFF9E9;
	padding: -5px;
	background: #FFF9E9;
	border-radius: 20px;
	z-index: 2;
}



.verde{
	margin-top: -160px;


}

.contenedor img {
  display: inline-block; /* Coloca las imágenes en línea */
  width: 23em; /* Define el ancho deseado para las imágenes */
  height: auto; /* Mantiene la proporción original de las imágenes */
  margin: -5px; /* Agrega un margen entre las imágenes (ajusta según sea necesario) */
  padding-left: 25px

}

.contenedor{
	padding-left: 70px;
}

.encima{
position: absolute;
  top: 1350px;
  left: 65%;
  /* z-index controlará la superposición */
  z-index: 2;
}

.encima2{
position: absolute;
  margin-left: 500px;
  margin-top: 100px;
color:#FFF9E9;
margin-right: 650px;
padding left: 0px;
 
 /* z-index controlará la superposición */
  z-index: 3;
}

 p3{
 	font-size: 15px;
 	font-family: ranade;
 		margin: 0 auto;
 }

#chefs {
	width: 20%;
height: auto;
position: absolute;
 margin-left: 70px;
 margin-top: -455px;


  /* z-index controlará la superposición */
  z-index: 3;
}

.gente{
	color: #FFF9E9;
	position: absolute;
	float:left;
	height: auto;
	display: flex;
	margin-left: 500px;
	margin-top: 30px;
	font-size: 60px;
z-index: 3;
}

#seccion3{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 300px;
	margin-top: 100px;
	width: 100vw;
}

.mision{
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 20%;
}

h5{
	font-size: 60px;
	font-family: Gambarino;
		margin: 0 auto;
}

p4{
	font-family: ranade;
}
.vision{
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 20%;
}


h6{
	font-family: Gambarino;
	font-size: 60px;
	margin: 0 auto;
}

p5{
	font-family: ranade;
}

#header-promo {
	font-family: ranade;
	font-size: 12;
	margin: 0 auto;
}

#nav .right p{
	font-family: ranade;
	font-size: 16px;
	margin: 0 auto;
	color: #231305 ;
}

}
/*FOOTER*/

